h1
{
	color: red;
}

body
{
	background-image: url(https://www.bing.com/th/id/OGC.b062ecc9de2be752145b1aea10cf38a9?pid=1.7&rurl=https%3a%2f%2fi.stack.imgur.com%2forvwj.gif&ehk=egXUe3qCERlc1hht4V8MVS3fZj0ltq74AmKMClibZ%2f4%3d);
}

#carte
{
	 width: 800px;
	 margin:0 auto;
	 background-color: white;
	 text-align: center;
	 align-content: center;
}